<!--
  This page shows the performed assessments of a patient.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4>{{patient.name[0].family}} {{patient.name[0].given[0]}}</h4>
  <h2>Bereits durchgeführte Assessments:</h2>
  <ion-list inset>
    <ion-item *ngFor="let questionnaireResponse of questionnaireResponses">
        Timed Walking Test, {{questionnaireResponse.authored}}
    </ion-item>
    <ion-item *ngIf="questionnaireResponses.length === 0">Es wurden bisher noch keine Assessments durchgeführt.</ion-item>
  </ion-list>
</ion-content>
